.myoverlay {
  position: relative;
  z-index: 1;
  background: url("../images/home\ page.jpg") no-repeat ;
  background-size: cover;
  background-position: center center;
}
.myoverlay:after {
  content: "";
  height: auto;
  position: absolute;
  z-index: -1;
  top: 0;
  right: 0;
  left: 0;
  bottom: 0;
}

.myoverlay:after {
  background: rgba(0, 0, 0, 0.75);
}


.justifytext {
  text-align: justify;
}

.contact_1 {
  position: relative;
  z-index: 1;
  background: #2f1893 url(../images/contactbg.jpg) no-repeat;
  background-size: cover;
  background-position: center center;
}
.contact_1:after {
  content: "";
  height: auto;
  position: absolute;
  z-index: -1;
  top: 0;
  right: 0;
  left: 0;
  bottom: 0;
}

.contact_1:after {
  background: rgba(0, 0, 0, 0.75);
}




.overlayabout {
  position: relative;
  z-index: 1;
  background: url("../images/aboutbg.jpg") no-repeat;
  background-size: cover;
  background-position: center center;
}
.overlayabout:after {
  content: "";
  height: auto;
  position: absolute;
  z-index: -1;
  top: 0;
  right: 0;
  left: 0;
  bottom: 0;
}

.overlayabout:after {
  background: rgba(0, 0, 0, 0.75);
}




.overlayteam {
  position: relative;
  z-index: 1;
  background: url("../images/teambg.jpg") no-repeat;
  background-size: cover;
  background-position: center center;
}
.overlayteam:after {
  content: "";
  height: auto;
  position: absolute;
  z-index: -1;
  top: 0;
  right: 0;
  left: 0;
  bottom: 0;
}

.overlayteam:after {
  background: rgba(0, 0, 0, 0.75);
}




.overlaystartups {
  position: relative;
  z-index: 1;
  background: url("../images/startuplistbg.jpg") no-repeat;
  background-size: cover;
  background-position: center center;
}
.overlaystartups:after {
  content: "";
  height: auto;
  position: absolute;
  z-index: -1;
  top: 0;
  right: 0;
  left: 0;
  bottom: 0;
}

.overlaystartups:after {
  background: rgba(0, 0, 0, 0.75);
}




.overlaycompany {
  position: relative;
  z-index: 1;
  background: url("../images/companybg.jpg") no-repeat;
  background-size: cover;
  background-position: center center;
}
.overlaycompany:after {
  content: "";
  height: auto;
  position: absolute;
  z-index: -1;
  top: 0;
  right: 0;
  left: 0;
  bottom: 0;
}

.overlaycompany:after {
  background: rgba(0, 0, 0, 0.75);
}




.overlayapply {
  position: relative;
  z-index: 1;
  background: url("../images/apply.jpg") no-repeat;
  background-size: cover;
  background-position: center center;
}
.overlayapply:after {
  content: "";
  height: auto;
  position: absolute;
  z-index: -1;
  top: 0;
  right: 0;
  left: 0;
  bottom: 0;
}

.overlayapply:after {
  background: rgba(0, 0, 0, 0.75);
}




.text-align-right {
  text-align: right;
}




.apply-btn,
.apply-btn2 {
  text-align: center;
  color: rgba(255,255,255,0.9);
  border-radius: 50px;
  background: linear-gradient(-45deg, #ffa63d, #ff3d77, #338aff, #3cf0c5);
  background-size: 600%;
  -webkit-animation: anime 16s linear infinite;
          animation: anime 16s linear infinite;
}
.apply-btn2 {
  position: absolute;
  margin-top: -70px;
  z-index: -1;
  -webkit-filter: blur(30px);
          filter: blur(30px);
  opacity: 0.8;
}
@-webkit-keyframes anime {
  0% {
    background-position: 0% 50%;
  }
  50% {
    background-position: 100% 50%;
  }
  100% {
    background-position: 0% 50%;
  }
}
@keyframes anime {
  0% {
    background-position: 0% 50%;
  }
  50% {
    background-position: 100% 50%;
  }
  100% {
    background-position: 0% 50%;
  }
}

/* .startups{
  margin-top: -7.5vh;
} */

/* Startup Cards */
.card-block .btn-outline-primary {
  width: 100%;
  border-top-left-radius: 0;
  border-top-right-radius: 0;
  bottom: 0;
  left: 0;
  position: absolute;
}

.card {
  margin: 20px 0;
}

.card-container {
  width: 80%;
  height: 300px;
  cursor: pointer;
  margin: 0% 10% 0% 10%;
}
.card-flip {
  position: relative;
  width: 100%;
  height: 100%;
  background: white;
  border: none;
}

.card-flip div {
  backface-visibility: hidden;
  transform-style: preserve-3d;
  height: 100%;
  width: 100%;
  border: none;
}

.card-flip .front {
  position: relative;
  z-index: 1;
  /* visibility: visible; */
  animation: fadeIn 0.4s;
  transition: all 0.4s ease;
}

.card-flip .back {
  position: relative;
  z-index: 0;
  /* visibility: hidden; */
  display: none;
  animation: fadeOut 0.4s;
  transition: all 0.4s ease;
  -webkit-animation: fadeOut 0.4s;
  -moz-animation: fadeOut 0.4s;
  -o-animation: fadeOut 0.4s;
  -ms-animation: fadeOut 0.4s;
  text-align: left;
  padding: 1.5vw;
}

.card-container:hover .card-flip .back {
  /* visibility: visible; */
  display: flex;
  border: 2px solid black;
  animation: fadeIn 0.4s ease-in;
  font-size: larger;
  -webkit-animation: fadeIn 0.4s ease-in;
  -moz-animation: fadeIn 0.4s ease-in;
  -o-animation: fadeIn 0.4s ease-in;
  -ms-animation: fadeIn 0.4s ease-in;
}

.card-container:hover .card-flip .front {
  /* visibility: hidden; */
  display: none;
  animation: fadeOut 0.4s ease-in;
  -webkit-animation: fadeOut 0.4s ease-in;
  -moz-animation: fadeOut 0.4s ease-in;
  -o-animation: fadeOut 0.4s ease-in;
  -ms-animation: fadeOut 0.4s ease-in;
}

.card-block{
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  align-items: center;
}

.card-block a:hover{
  text-decoration: underline;
}

.card-logo{
  width: 100px;
}

@keyframes fadeIn {
  0% { opacity: 0; }
  100% { opacity: 1; }
}

@keyframes fadeOut {
  0% { opacity: 1; }
  100% { opacity: 0; }
}

@-moz-keyframes fadeIn {
  0% { opacity: 0; }
  100% { opacity: 1; }
}

@-webkit-keyframes fadeIn {
  0% { opacity: 0; }
  100% { opacity: 1; }
}

@-o-keyframes fadeIn {
  0% { opacity: 0; }
  100% { opacity: 1; }
}

@-ms-keyframes fadeIn {
  0% { opacity: 0; }
  100% { opacity: 1; }
}